* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	font: 13px Helvetica, Arial;
	background: #313131;
	overflow-y: hidden;
	position: relative;
}

#form_container {
	position: relative;
	height: 100%;
	width: 100%;
	z-index: 1;
	background: rgba(0,0,0,0.7);
}

#nickname_form {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%);
	-moz-transform: translate(-50%);
	-o-transform: translate(-50%);
	-ms-transform: translate(-50%);
	transform: translate(-50%);
}

span {
	color: #FFF;
}

aside {
	width: 20%;
    height: 100%;
    background: #272727;
    color: #FFF;
    display: inline-block;
    position: absolute;
}

aside li {
	list-style: none;
	width: 100%;
	padding: 5px;
}

#send_message {
	z-index: 0;
	background: #000;
	padding: 3px;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 4.5vh;
    display: flex;
    align-items: center;
}

#send_message input {
	border: 0;
	padding: 10px;
	width: 90%;
	margin-right: .5%;
	background: #313131;
	color: #FFF;
}

#send_message button {
	width: 9%;
	background: #0277BD;
	border: none;
	padding: 10px;
	color: #000;
	font-weight: bold;
}

#messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 80%;
    display: inline-block;
    position: absolute;
    right: 0;
    overflow-y: auto;
    height: 95.5vh;
}

#messages li {
	margin-bottom: 15px;
}

#messages .thisUser {
	text-align: right;
}

#messages .broadcast {
	text-align: center;
	color: #CCC;
}

#messages li span {
	display: inline-block;
	padding: 8px 10px;
	color: #FFF;
}

#messages .thisUser span {
	background: #1976D2;
}

#messages .broadcast span {
	background: #1976D2;
}

#messages li:not(.thisUser):not(.broadcast) span {
    background: #558B2F;
}

#messages .broadcast {
	margin-bottom: 10px;
}

#usersTyping {
    position: fixed;
    bottom: 40px;
    right: 0;
}

#usersTyping li {
	list-style-type: none;
    color: #FFF;
    background: rgba(0,0,0,0.8);
    padding: 5px 10px;
}