html {
    background: #212121;
    color: #FFF;
    font-family: 'Raleway', sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
}

header {
    height: 50px;
    display: flex;
    justify-content: center;
    background: #424242;
    width: 100%;
    align-items: center;
    position: relative;
}

input:focus {
    outline: none;
}

.image_credit {
    position: absolute;
    bottom: 25px;
    right: 25px;
}

.home_button {
    background: url(../images/ic_home_white_24px.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40px;
    width: 40px;
    z-index: 10;
    position: absolute;
    left: 10px;
    cursor: pointer;
}

.send_button {
    margin-bottom: 10px;
    margin-top: 25px;
    padding: 10px 15px;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    background: #1437CC;
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    cursor: pointer;
}

.modal_buttons_container .send_button {
    position: absolute;
    right: 100px;
}

.delete_button {
    margin-bottom: 10px;
    margin-top: 25px;
    padding: 10px 15px;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    background: #CC1414;
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    cursor: pointer;

    position: absolute;
    left: 100px;
}



/*   --- Login ---   */

.login_body {
    background: url(../images/6117_cropped_faded_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.6);
    padding: 25px;
}

.container h1 {
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
}

.container label {
    margin-bottom: 2px;
    display: block;
}

.container input {
    display: block;
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    font-size: 18px;
    border-radius: 8px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

.container input[type=submit] {
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 10px 15px;
    border: none;
    font-size: 20px;
    border-radius: 8px;
    background: #1437CC;
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    cursor: pointer;
    float: right;
}


/*   --- End login ---   */



/*   --- Settings ---   */

.settings_button {
    background: url(../images/ic_settings_white_24px.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40px;
    width: 40px;
    z-index: 10;
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.settings_panel {
	display: none;
	background: rgba(66, 66, 66, 0.9);
    width: 250px;
    height: 200px;
    position: absolute;
    right: 0;
    top: 50px;
    z-index: 10;
    padding: 0 0px;
}

.settings_panel a  {
	display: block;
    font-size: 18px;
    text-align: center;
	margin: 0 0 10px 0;
	position: relative;
}

.settings_panel a:nth-child(1) {
	margin: 0 0 15px 0;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings_panel a:last-child {
    position: absolute;
    bottom: 5px;
    width: 100%;
}

.account_icon {
	left: 10px;
    position: absolute;
    height: 35px;
}

.settings_panel a:nth-child(1)::after  {
	content: "";
    display: block;
    width: 90%;
    left: 5%;
    height: 1px;
    background: #FFF;
    position: absolute;
    bottom: 0;
}

/*   --- End Settings ---   */



a {
    text-decoration: none;
    color: #FFF;
}

header input {
    margin: 0;
    width: 40%;
    height: 40px;
    background: #212121;
    border: none;
    padding: 10px;
    color: #FFF;
    font-size: 18px;
    position: relative;
    top: 1px;
    z-index: 5;
}

.main-container {
    position: relative;
    height: calc(100% - 50px);
}

.deadlines {
    display: inline-block;
    width: 15%;
    height: 100%;
    position: relative;
    padding: 10px;
    background: rgb(37, 37, 37);
    /*box-shadow: 2px 5px 5px 2px rgba(37, 37, 37, 0.5);*/
    box-sizing: border-box;
}

.deadlines h2 {
    text-align: center;
    margin: 0 0 30px 0;
}

.deadlines ul {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    list-style: none;
}

.deadline_content {
    position: relative;
}

.deadline_content:before {
    content: "";
    background: blue;
    box-shadow: 0px 0px 15px 0px blue;
    position: absolute;
    top: -10%;
    right: -10px;
    width: 1px;
    height: 120%;
}

.deadline_content--orange:before {
    background: orange;
    box-shadow: 0px 0px 15px 0px orange;
}

.deadline_content--red:before {
    content: "";
    background: red;
    box-shadow: 0px 0px 15px 0px red;
    position: absolute;
    top: -10%;
    right: -10px;
    width: 1px;
    height: 120%;
}

.deadlines li:after {
    content: "";
    height: 25px;
    width: 100%;
    display: block;
}

main {
    display: inline-block;
    width: 85%;
    position: absolute;
    top: 0;
    margin-top: 50px;
}

.grid-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.grid-container div {
    height: 250px;
    width: 250px;
    background: #D84315;
    margin: 25px;
    box-shadow: 2px 2px 10px 2px rgba(216, 67, 21, 0.2);

    position: relative;
    transition: all 200ms ease-in;
    transform: scale(1);
}

.grid-container div:hover {
    transform: scale(1.05);
}

.grid-container a {
    position: relative;
    height: 250px;
    width: 250px;
    display: block;
    padding: 15px;
    box-sizing: border-box;
}

.grid-container span {
    position: absolute;
    bottom: 25px;
    right: 25px;
    font-size: 15px;
}

.grid-container h3 {
    font-size: 25px;
}



/*   --- Add buttons ---   */

.add_buttons_container {
    position: fixed;
    bottom: 0;
    right: 15px;
    padding: 0 15px;
}

.add_content_buttons {
    position: relative;
    bottom: 100px;
    width: 60px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    bottom: -70px;
    opacity: 0;
    transition: all 0.5s;
}

.add_content_buttons div {
    height: 55px;
    width: 55px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 60px;
    background: #1437CC;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.add_deadline_icon {
	background: url(../images/ic_add_alarm_white_24px.svg);
	background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 35px;
    width: 35px;
    transform: initial;
    transition: all 0.5s;
}

.add_course_icon {
	background: url(../images/ic_create_new_folder_white_24px.svg);
	background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 35px;
    width: 35px;
    transform: initial;
    transition: all 0.5s;
}


.add_content_button {
	height: 60px;
    width: 60px;
    position: absolute;
    bottom: 25px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 60px;
    background: #88FF19;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add_button_text {
	display: block;
    position: absolute;
    right: 100%;
    background: #424242;
    padding: 8px;
    width: max-content;
    margin-right: 10px;
    cursor: default;
}

.add_content_plus {
	background-image: url(../images/ic_add_white_24px.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 45px;
    width: 45px;
    transform: initial;
    transition: all 0.5s;
	filter: invert(100%);
}

.add_content_plus--rotated {
    transform: rotate(180deg);
}

.add_content_buttons--shown {
    opacity: 1;
    bottom: 100px;
}

/*   --- End Add buttons ---   */



/*   --- Modal ---   */

.modal_container {
	display: none;
    background: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.modal {
    background: #37474F;
    width: 40vw;
    /*height: 60vh;*/
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    text-align: center;
    max-height: 80vh;
    overflow: auto;
}

.modal input {
	display: block;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    font-size: 15px;
    border-radius: 8px;
    width: 35%;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.modal select {
	margin-bottom: 10px;
    padding: 10px;
    border: none;
    font-size: 15px;
    border-radius: 8px;
    width: 35%;
    font-family: 'Raleway', sans-serif;
    background: #FFF;
}

.option--hidden {
	display: none;
}

.modal textarea {
	display: block;
	margin-bottom: 10px;
    padding: 10px;
    border: none;
    font-size: 15px;
    border-radius: 8px;
    width: 95%;
    height: 200px;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.modal_buttons_container {
	text-align: center;
    height: 80px;
}

.add_links_container {
    position: relative;
}

.add_link_container {
    text-align: center;
}

.add_link_container input {
    display: inline-block;
    position: initial;
    transform: initial;
}

#add_another_link {
    background: url(../images/ic_add_white_24px.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 10px;
    right: 55px;
    height: 35px;
    width: 35px;
    cursor: pointer;
}

.body--blur > *:not(.modal_container) {
    filter: blur(0);
    animation: blur 1s forwards;
}

@keyframes blur {
	0% { filter: blur(0); }
	100% { filter: blur(5px); }
}

/*   --- End Modal ---   */


/*   --- Course Details ---   */

.course_details {
    background: #1d1d1d;
    padding: 25px 25px 25px 0;
    width: 85%;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    left: 7.5%;
}

.edit_button {
    position: fixed;
    bottom: 0;
    right: 15px;
    height: 55px;
    width: 55px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 60px;
    background: #1437CC;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.edit_icon {
    background-image: url(../images/ic_mode_edit_white_24px.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 35px;
    width: 35px;
    transform: initial;
    transition: all 0.5s;
}

.links {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 20%;
    height: 100%;
    left: 0;
    top: 0;
    padding-left: 5px;
    box-sizing: border-box;
    border-right: solid 1px rgba(255,255,255,0.05);
}

.links span {
    position: absolute;
    left: 64px;
}

.link_button_container {
    position: relative;
    width: 100%;
    display: inline-flex;
    align-items: center;
}

.link_button_container a {
    width: 48px;
    height: 48px;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.course_content {
    display: inline-block;
    width: 100%;
    padding-left: 25px;
    box-sizing: border-box;
    overflow-wrap: break-word;
}

.course_content h3 {
    margin-top: 0;
    margin-bottom: 5px;
}

.course_content h4 {
    margin-top: 5px;
}

.links + .course_content {
    float: right;
    width: 78%;
    padding: 0;
}



/*   --- User management ---   */

.user_management_table_container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.user_management_table_container td {
    padding: 5px;
}

.user_management_table_container tr:nth-child(even) {
    background: #131313;
}

.user_management_table_container table {
    border-spacing: 0 5px;
}

.user_management_table_container button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    font-size: 14px;
    border-radius: 8px;
    background: #1437CC;
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    cursor: pointer;
}
